.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
	transition: all 0.3s ease 0s;
	border: 1px solid transparent;
	border-radius: 0;
	line-height: 1em;

	min-width: 168px;
	height: 54px;
	padding: 0 24px;

	font-family: $font-main;
	font-weight: 400;
	font-size: 14px;


	// ---  Accent  ---
	&--accent {
		background-color: $color-accent;
		border-color: $color-accent;
		color: $text-color-light;

		&:hover,
		&:focus {
			border-color: $color-secondary;
			background-color: $color-secondary;
		}
	}

	// --- Light outline  ---
	&--outline-light {
		background-color: transparent;
		border-color: $text-color-light;
		color: $text-color-light;

		&:hover,
		&:focus {
			background-color: $text-color-light;
			color: $text-color-dark;
		}
	}

	// ---  Dark outline  ---
	&--outline-dark {
		background-color: transparent;
		border-color: $text-color-dark;
		color: $text-color-dark;

		// &:hover,
		// &:focus {
		// 	background-color: $text-color-dark;
		// 	color: $text-color-light;
		// }
	}


	// ---  Icon (<svg> всередині кнопки) --- 
	&--icon {
		justify-content: space-between;
		gap: 10px;

		svg path {
			transition: all 0.3s ease 0s;

			& path {
				fill: currentColor;
				transition: all 0.3s ease 0s;
			}

			width: 20px;
			height: 20px;
		}

		&:hover,
		&:focus {

			& svg {
				animation: arrow-swipe 0.5s ease-in-out;
			}

			& svg path {
				fill: currentColor;
			}
		}
	}

	// ---  Sizing  ---

	&--lg {
		min-width: 190px;
		height: 64px;
		padding: 0 32px;
	}

	&--sm {
		min-width: 200px;
		height: 48px;
		padding: 0 24px;
	}
}

@keyframes arrow-swipe {
	0% {
		transform: translateX(0);
	}

	45% {
		transform: translateX(-3px);
	}

	70% {
		transform: translateX(-2px);
	}

	100% {
		transform: translateX(0);
	}
}