.popup {
	position: fixed;
	z-index: 200;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;

	&.open {
		visibility: visible;

		& .popup__overlay {
			opacity: 0.5;
		}

		& .popup__content {
			opacity: 1;
		}
	}

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		transition: all 0.3s ease 0s;
		padding: 30px 10px;


		@media (max-width: 768px) {
			padding: 0;
		}
	}

	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.4s ease 0s;
		//
		background-color: #000;
	}

	&__content {
		position: relative;
		transition: all 0.8s ease 0s;
		opacity: 0;
		background-color: #fff;
		width: 80vw;
		color: #000;
		background-image: url('@img/backgrounds/bg-texture.png');
		padding: 5vw;
		border-radius: 1.3rem;
		box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);

		@media (max-width: 768px) {
			padding: 21.3vw 6vw;
			border-radius: 0;
			width: 100vw;
			box-shadow: none;
			min-height: 100vh;
		}
	}

	&__btn-close {
		position: absolute;
		right: 3.1vw;
		top: 3.1vw;
		aspect-ratio: 1;
		background: none;
		width: 2rem;
		z-index: 201;

		@media (max-width: 768px) {
			top: 0.72rem;
			right: 1.11rem;
			width: 1rem;
		}

		& img {
			width: 100%;
		}
	}

	& .header__btn-menu span {
		background-color: #cdcdcd;
	}

}

.popup-feedback {

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-family: var(--titleFont);
		font-weight: 700;
		font-size: 2.4rem;
		text-align: center;

		@media (max-width: 768px) {
			font-size: 1.8rem;
		}
	}

	&__text {
		font-size: 1.22rem;
		max-width: 37vw;
		text-align: center;
		margin-bottom: 2.6vw;
		line-height: 134.5%;

		@media (max-width: 768px) {
			font-size: 0.94rem;
			max-width: none;
			margin-bottom: 7vw;
		}
	}

	&__vegetable {
		position: absolute;
		width: auto;
	}

	&__vegetable-1 {
		width: 19.7vw;
		top: 3.1vw;
		left: 0;

		@media (max-width: 768px) {
			display: none;
		}
	}

	&__vegetable-2 {
		width: 10.5vw;
		bottom: 0;
		right: 0;

		@media (max-width: 768px) {
			display: none;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.95rem;
	width: 38vw;

	@media (max-width: 768px) {
		width: 81vw;
		gap: 1rem;
	}

	& input,
	textarea,
	button {
		border-radius: 1.28rem;
		border: 0.11rem solid #FFF;
		background: rgba(0, 0, 0, 0.39);
		color: #fff;
		text-align: center;
		font-size: 1.05rem;
		font-family: 'Open Sans';
		line-height: 94%;
		width: 100%;

		@media (max-width: 768px) {
			border-radius: 1.05rem;

		}
	}

	& input {
		height: 3.7vw;

		@media (max-width: 768px) {
			height: 12.8vw;
			font-size: 1rem;
		}

		&::placeholder {
			color: #D1D1D1;
		}

		&.error {
			opacity: 0.39;
			background: #BF1822;
		}
	}

	& button {
		height: 3.7vw;

		@media (max-width: 768px) {
			height: 13.8vw;
			background-color: #BF1822;
			width: calc(100% - 2rem);
			margin: 0 auto;
			border-color: #E1B562;

		}
	}


	& textarea {
		height: 10vw;
		padding: 1.16rem;

		@media (max-width: 768px) {
			padding: 1.11rem;
			height: 37.3vw;
			font-size: 1rem;
		}

		&::placeholder {
			color: #D1D1D1;
		}
	}

	&__note {
		color: #BF1822;
		text-align: center;
		font-size: 0.83rem;
		line-height: 93.9%;
		margin-top: 0.22rem;
		// display: block;
		display: none;
	}
}

.popup-product {
	&__content {
		padding: 3.33vw 7vw 7.8vw;

		@media (max-width: 768px) {
			padding: 14.4vw 7vw 18vw;
		}
	}

	&__vegetable {
		position: absolute;
		width: auto;

		@media (max-width: 768px) {
			display: none;
		}

		&-1 {
			width: 15vw;
			top: 0;
			right: 4.2vw;
		}

		&-2 {
			width: 11.6vw;
			top: 7.7vw;
			right: 0;
		}

		&-3 {
			width: 19vw;
			bottom: 0;
			right: 0;
		}

	}
}

.popup__breadcrumbs {
	margin-bottom: 8.6vw;

	@media (max-width: 768px) {
		margin-bottom: 2rem;
	}
}