// @include mixin-name;

@mixin visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

@mixin header-absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

@mixin header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

@mixin scrollbar-style {
	&::-webkit-scrollbar {
		width: 15px;
		height: 15px; // horizontal
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
		// border-radius: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #c1c1c1;
		// border-radius: 5px;
	}
}

@mixin reset-input-type-number {

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}

	input[type="number"]:hover,
	input[type="number"]:focus {
		-moz-appearance: number-input;
	}
}

@mixin line-clamp($lines) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
}