// 1. box-sizing for all 
*,
*::before,
*::after {
	box-sizing: border-box;
}

// 2. Reset margins 
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
form,
dl,
dt,
dd {
	margin: 0;
}

// 3. lists 
dl,
ul,
ol {
	padding: 0;
	list-style: none;
}

// 4. Make images block-level and responsive 
img,
svg,
video,
canvas {
	display: block;
	max-width: 100%;
}

// 5. link 
a {
	text-decoration: none;
	color: inherit;
}

// 6. form elements 
fieldset,
button,
input,
textarea,
select {
	font: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}