@font-face {
	font-family: FrizQuadrataC;
	font-display: swap;
	src: url("../fonts/FrizQuadrataC-Regular.woff2") format("woff2"), url("../fonts/FrizQuadrataC-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: FrizQuadrataC;
	font-display: swap;
	src: url("../fonts/FrizQuadrataC-Bold.woff2") format("woff2"), url("../fonts/FrizQuadrataC-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: FrizQuadrataC;
	font-display: swap;
	src: url("../fonts/FrizQuadrataC-BoldItalic.woff2") format("woff2"), url("../fonts/FrizQuadrataC-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: FrizQuadrataCTT;
	font-display: swap;
	src: url("../fonts/FrizQuadrataCTT-BoldItalic.woff2") format("woff2"), url("../fonts/FrizQuadrataCTT-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}