<div id="popup-feedback" class="popup popup-feedback">
	<div class="popup__body">
		<div class="popup__overlay"></div>
		<div class="popup__content popup-feedback__content">
			<button class="popup__btn-close"><img src="@icons/btn-close.svg" alt="close"></button>
			<div class="header__btn-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<!-- content -->
			<h2 class="popup-feedback__title">
				ЗАПОВНІТЬ ЗАЯВКУ
			</h2>
			<p class="popup-feedback__text">
				Будь ласка заповніть форму і залиште свій запит.
				Ми зв’яжемося з вами найближчим часом.
			</p>
			<form class="form">
				<input type="text" placeholder="Ім’я" required>
				<input type="email" placeholder="E-mail" required>
				<input type="text" placeholder="Назва компанії" required>
				<textarea placeholder="Повідомлення"></textarea>
				<button class="button" type="submit">НАДІСЛАТИ</button>
				<span class="form__note">*всі поля обов’язкові до заповненння</span>
			</form>
			<img src="@img/popups/popup-vegetable-1.png" alt="tomato"
				class="popup-feedback__vegetable popup-feedback__vegetable-1">
			<img src="@img/popups/popup-vegetable-2.png" alt="leaf"
				class="popup-feedback__vegetable popup-feedback__vegetable-2">
		</div>
	</div>
</div>