<div id="popup-product" class="popup-product popup">
	<div class="popup__body">
		<div class="popup__overlay"></div>
		<div class="popup__content popup-product__content">
			<button class="popup__btn-close"><img src="@icons/btn-close.svg" alt="close"></button>
			<!-- content -->
			<div class="popup__breadcrumbs breadcrumbs">
				<a href="index.html">Головна</a>
				<a href="catalog.html">Каталог</a>
				<a href="product.html">Продукти з томатів</a>
				<span>Паста томатна 25%</span>
			</div>
			<div class="product">
				<div class="product__photo">
					<img src="@img/products/tomatoes.png" alt="product photo">
				</div>
				<div class="product__info">
					<h2 class="product__name">
						<b>Паста томатна 25% </b>
						<span>стерилізована.Сорт вищий</span>
					</h2>
					<div class="product__ingredients">
						<b>Склад: </b>
						<span>томати свіжі уварені</span>
					</div>
					<div class="product__energy-value">
						<div class="product__energy-value-label">
							Енергетична цінність
							на 100 g (г) продукту:
						</div>
						<div class="product__energy-value-kcal">
							<span>331 kJ (кДж)/ </span>
							<span>79 kcal (ккал)</span>
						</div>
					</div>
					<ul class="product__macronutrients">
						<li>
							<span>жири:</span>
							<b>0 g(г)</b>
						</li>
						<li>
							<span>вуглеводи:</span>
							<b>15,8 g (г)</b>
						</li>
						<li>
							<span>цукри:</span>
							<b>15 g(г)</b>
						</li>
						<li>
							<span>білки:</span>
							<b>4,0 g (г)</b>
						</li>
						<li>
							<span>сіль:</span>
							<b>1,5 g (г)</b>
						</li>
					</ul>
					<div class="product__weight">465 g</div>
				</div>
			</div>

			<img src="@img/popups/popup-prod-object-1.png" alt="vegetable"
				class="popup-product__vegetable popup-product__vegetable-1">
			<img src="@img/popups/popup-prod-object-2.png" alt="vegetable"
				class="popup-product__vegetable popup-product__vegetable-2">
			<img src="@img/popups/popup-prod-object-3.png" alt="vegetable"
				class="popup-product__vegetable popup-product__vegetable-3">
		</div>
	</div>
</div>