<section class="catalog">
	@@include('../elements/catalog-menu.html', {})
	<div class="container">
		<div class="catalog__wrap">
			<div class="catalog__list">
				<a href="##" class="catalog__item">
					<img src="@img/products/chickpeas.png" alt="chickpeas">
					<h3>ПРОДУКТИ <br>
						З НУТУ</h3>
				</a>
				<a href="##" class="catalog__item">
					<img src="@img/products/cucumbers.png" alt="cucumbers">
					<h3>ПРОДУКТИ <br>
						З ОГІРКІВ</h3>
				</a>
				<a href="##" class="catalog__item">
					<img src="@img/products/tomatoes.png" alt="tomatoes">
					<h3>ПРОДУКТИ <br>
						З ТОМАТІВ</h3>
				</a>
				<a href="##" class="catalog__item">
					<img src="@img/products/peas.png" alt="peas">
					<h3>ПРОДУКТИ <br>
						З ГОРОШКУ</h3>
				</a>
				<a href="##" class="catalog__item">
					<img src="@img/products/zucchini.png" alt="zucchini">
					<h3>ПРОДУКТИ <br>
						З КАБАЧКІВ</h3>
				</a>
				<a href="##" class="catalog__item">
					<img src="@img/products/beans.png" alt="beans">
					<h3>ПРОДУКТИ <br>
						З КВАСОЛІ</h3>
				</a>
				<a href="##" class="catalog__item">
					<img src="@img/products/pepper.png" alt="pepper">
					<h3>ПРОДУКТИ <br>
						З ПЕРЦЮ</h3>
				</a>
				<a href="##" class="catalog__item">
					<img src="@img/products/fruits.png" alt="fruits">
					<h3>ПРОДУКТИ <br>
						З ФРУКТІВ</h3>
				</a>
				<a href="##" class="catalog__item">
					<img src="@img/products/sauces.png" alt="sauces">
					<h3>СОУСИ</h3>
				</a>
				<a href="##" class="catalog__item catalog__item_v2">
					<img src="@img/products/meat.png" alt="meat">
					<h3>М’ЯСНІ <br>
						ПРОДУКТИ</h3>
				</a>
				<a href="##" class="catalog__item catalog__item_v2">
					<img src="@img/products/porridges.png" alt="porridges">
					<h3>КАШІ</h3>
				</a>
				<a href="##" class="catalog__item catalog__item_v2">
					<img src="@img/products/horeca.png" alt="horeca">
					<h3>HoReCa</h3>
				</a>
			</div>
		</div>
	</div>
</section>