<section class="stores">
	<h2 class="stores__title title container">
		<span>ПРОДУКЦIЯ ГУРМАН</span>
		<b>В ТОРГОВИХ МЕРЕЖАХ</b>
	</h2>
	<div class="stores__slider">
		<div class="swiper-wrapper">
			<div class="stores__item swiper-slide">
				<img src="@img/stores/atb.svg" alt="atb">
			</div>
			<div class="stores__item swiper-slide">
				<img src="@img/stores/ashan.svg" alt="ashan">
			</div>
			<div class="stores__item swiper-slide">
				<img src="@img/stores/metro.svg" alt="metro">
			</div>
			<div class="stores__item swiper-slide">
				<img src="@img/stores/novus.svg" alt="novus">
			</div>
			<div class="stores__item swiper-slide">
				<img src="@img/stores/fozzy.svg" alt="fozzy">
			</div>

			<div class="stores__item swiper-slide">
				<img src="@img/stores/atb.svg" alt="atb">
			</div>
			<div class="stores__item swiper-slide">
				<img src="@img/stores/ashan.svg" alt="ashan">
			</div>
			<div class="stores__item swiper-slide">
				<img src="@img/stores/metro.svg" alt="metro">
			</div>
			<div class="stores__item swiper-slide">
				<img src="@img/stores/novus.svg" alt="novus">
			</div>
			<div class="stores__item swiper-slide">
				<img src="@img/stores/fozzy.svg" alt="fozzy">
			</div>
		</div>
	</div>
</section>