<section class="team frame">
	<h2 class="visually-hidden">our team</h2>
	<div class="team__img">
		<!-- <img src="@img/team-bg.png" alt="team"> -->
	</div>
	<div class="team__wrap container">
		<p class="team__text">
			<span>
				Наша команда запорука позитивних емоцій вкладених
				у продукт. Взаємодія між продуктом, землею та людьми
				створює синергію, яка сприяє розвитку нашого бренду.
			</span>
			<span>
				Тому ми вкладаємо значні зусилля у розвиток досвіду
				та професійності нашої команди.
			</span>
		</p>
		<div class="team__logo logo">
			<img src="@img/icons/logo.svg" alt="logo">
		</div>
	</div>
</section>