.spoiler {

	&[open] .spoiler__head::before {
		transform: rotate(-90deg);
	}


	&__head {
		display: block;
		position: relative;
		cursor: default;

		padding-left: 20px;

		@media (max-width: 768px) {
			cursor: pointer;
			margin-bottom: -14px;
		}



		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: calc(50% - 4px);
			transition: all 0.3s ease 0s;

			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 8px solid var(--color-black);
		}

		&::-webkit-details-marker {
			display: none;
		}
	}

	&__content {}
}