<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<h2 class="footer__title title">
				<span>Ви завжди <br class="mobile">можете бути впевненими, <br class="mobile">
					що бренд "Гурман" насичений</span>
				<b>сонячним одеським настроєм!</b>
			</h2>
			<div class="footer__map"></div>
			<div class="footer__vegetable"></div>
			<h3 class="footer__company">СГ ТОВ ПівденьАгроПереробка</h3>
			<div class="footer__contacts">
				<div class="footer__contacts-item footer__contacts-item_location">
					<a href="https://maps.app.goo.gl/ERKkxpx4BfLjcWXK8">вул. Крайня 1-а, с. Мирне, Біляївський
						район, Одеська область, Україна, 67652</a>
				</div>
				<div class="footer__contacts-item footer__contacts-item_tel">
					<a href="tel:+380951485054"><b>+38 095 148 50 54</b> Харківська, Сумська, <br class="mobile"> Полтавська
						обл.</a>
					<a href="tel:+380501530551"><b>+38 050 153 05 51</b> Львівська, Закарпатська,<br class="mobile"> Чернівецька,
						Івано-Франківська
						обл.</a>
					<a href="tel:+380675586667"><b>+38 067 558 66 67</b> Одеська, Миколаївська,<br class="mobile"> Херсонська,
						Кіровоградська
						обл.</a>
					<a href="tel:+380667754935"><b>+38 066 775 49 35</b> Київська, Чернігівська,<br class="mobile"> Черкаська
						обл.</a>
				</div>
				<div class="footer__contacts-item footer__contacts-item_email">
					<a href="mailto:gurman@pivdenagropererobka.com">gurman@pivdenagropererobka.com</a>
				</div>
			</div>
			<img src="@img/footer/footer-logo.svg" alt="logo" class="footer__logo">
			<div class="footer__copyright">© 2009-2023 Pivdenahropererobka AC LLC. All Rights Reserved</div>
		</div>
	</div>
</footer>