<div class="menu-catalog">
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/chickpeas.png" alt="chickpeas">
		<h3>ПРОДУКТИ <br>
			З НУТУ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/cucumbers.png" alt="cucumbers">
		<h3>ПРОДУКТИ <br>
			З ОГІРКІВ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/tomatoes.png" alt="tomatoes">
		<h3>ПРОДУКТИ <br>
			З ТОМАТІВ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/peas.png" alt="peas">
		<h3>ПРОДУКТИ <br>
			З ГОРОШКУ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/zucchini.png" alt="zucchini">
		<h3>ПРОДУКТИ <br>
			З КАБАЧКІВ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/beans.png" alt="beans">
		<h3>ПРОДУКТИ <br>
			З КВАСОЛІ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/pepper.png" alt="pepper">
		<h3>ПРОДУКТИ <br>
			З ПЕРЦЮ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/fruits.png" alt="fruits">
		<h3>ПРОДУКТИ <br>
			З ФРУКТІВ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/sauces.png" alt="sauces">
		<h3>СОУСИ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/meat.png" alt="meat">
		<h3>М’ЯСНІ <br>
			ПРОДУКТИ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/porridges.png" alt="porridges">
		<h3>КАШІ</h3>
	</a>
	<a href="##" class="menu-catalog__item">
		<img src="@img/products/icons/horeca.png" alt="horeca">
		<h3>HoReCa</h3>
	</a>
</div>