<a href="product.html" class="products__item swiper-slide">
	<span><img src="@img/products/chickpeas.png" alt="chickpeas"></span>
	<h3>ПРОДУКТИ <br>
		З НУТУ</h3>
</a>
<a href="product.html" class="products__item swiper-slide">
	<span><img src="@img/products/cucumbers.png" alt="cucumbers"></span>
	<h3>ПРОДУКТИ <br>
		З ОГІРКІВ</h3>
</a>
<a href="product.html" class="products__item swiper-slide">
	<span><img src="@img/products/tomatoes.png" alt="tomatoes"></span>
	<h3>ПРОДУКТИ <br>
		З ТОМАТІВ</h3>
</a>
<a href="product.html" class="products__item swiper-slide">
	<span><img src="@img/products/peas.png" alt="peas"></span>
	<h3>ПРОДУКТИ <br>
		З ГОРОШКУ</h3>
</a>
<a href="product.html" class="products__item swiper-slide">
	<span><img src="@img/products/zucchini.png" alt="zucchini"></span>
	<h3>ПРОДУКТИ <br>
		З КАБАЧКІВ</h3>
</a>
<a href="product.html" class="products__item swiper-slide">
	<span><img src="@img/products/beans.png" alt="beans"></span>
	<h3>ПРОДУКТИ <br>
		З КВАСОЛІ</h3>
</a>
<a href="product.html" class="products__item swiper-slide">
	<span><img src="@img/products/pepper.png" alt="pepper"></span>
	<h3>ПРОДУКТИ <br>
		З ПЕРЦЮ</h3>
</a>
<a href="product.html" class="products__item swiper-slide">
	<span><img src="@img/products/fruits.png" alt="fruits"></span>
	<h3>ПРОДУКТИ <br>
		З ФРУКТІВ</h3>
</a>
<a href="product.html" class="products__item swiper-slide">
	<span><img src="@img/products/sauces.png" alt="sauces"></span>
	<h3>СОУСИ</h3>
</a>
<a href="product.html" class="products__item swiper-slide products__item_v2">
	<span><img src="@img/products/meat.png" alt="meat"></span>
	<h3>М’ЯСНІ <br>
		ПРОДУКТИ</h3>
</a>
<a href="product.html" class="products__item swiper-slide products__item_v2">
	<span><img src="@img/products/porridges.png" alt="porridges"></span>
	<h3>КАШІ</h3>
</a>
<a href="product.html" class="products__item swiper-slide products__item_v2">
	<span><img src="@img/products/horeca.png" alt="horeca"></span>
	<h3>HoReCa</h3>
</a>