@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600,700,600italic,700italic);
@import './started/fonts';

$isMobile: 768px;

:root {
	font-size: 1.25vw;
	--mainFont: 'Open Sans';
	--titleFont: 'FrizQuadrataC';
	--textColor: #000;

	@media (max-width: $isMobile) {
		font-size: 4.8vw;
	}
}

@import './started/null';
@import './started/mixins';

html {
	@include scrolbar;

	&.lock {
		overflow: hidden;
		margin-right: 15px;

		@media (max-width: 998px) {
			padding-right: 0;
		}

		& .header {
			margin-right: 15px;
		}

		& .header__top-info {
			width: calc(100vw - 15px);
		}
	}
}

body {
	color: var(--textColor);
	font-family: var(--mainFont);
	background-image: url('@img/backgrounds/bg-texture.png');
	background-size: 19.65vw auto;
	line-height: normal;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 1 auto;
}

.container {
	padding: 0 14vw;

	@media (max-width: $isMobile) {
		padding: 0 7vw;
	}
}

.visually-hidden {
	@include visually-hidden;
}

.hidden {
	display: none !important;
}

.mobile {
	display: none;

	@media (max-width: $isMobile) {
		display: block;
	}
}

.frame {
	margin: 0.66vw 0;
	position: relative;

	@media (max-width: $isMobile) {
		margin: 1.2vw 0;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 0.66vw;
		// background: url('@img/linear-frame.svg') 0 0 / cover no-repeat;
		background: linear-gradient(90deg, #CB973E -0.16%, #F0CB7B 10.31%, #FAE395 24.48%, #C9943B 43.61%, #F9EBAA 49.78%, #CD993D 58.36%, #F9E99F 74.22%, #F7CA69 79.29%, #F8D587 87.17%, #C9943B 100%);

		@media (max-width: $isMobile) {
			height: 1.2vw;
		}
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 0.66vw;
		bottom: -0.66vw;
		// background: url('@img/linear-frame.svg') 0 0 / cover no-repeat;
		background: linear-gradient(90deg, #CB973E -0.16%, #F0CB7B 10.31%, #FAE395 24.48%, #C9943B 43.61%, #F9EBAA 49.78%, #CD993D 58.36%, #F9E99F 74.22%, #F7CA69 79.29%, #F8D587 87.17%, #C9943B 100%);

		@media (max-width: $isMobile) {
			height: 1.2vw;
			bottom: -1.2vw;
		}

	}
}

.title {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 2.22rem;
	font-family: var(--titleFont);
	text-transform: uppercase;

	@media (max-width: $isMobile) {
		font-size: 1.38rem;
	}

	& span {}

	& b {
		font-weight: 700;
	}
}

.button {
	border-radius: 1.28rem; //23px
	font-size: 1.06rem;
	line-height: 90%;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans';
	min-width: 18.75vw; // 270px
	padding: 1rem 1.4rem;
	border: 0.11rem solid #FFF;
	// background-color: rgba(0, 0, 0, 0.39);
	display: inline-block;
	transition: all 0.3s ease 0s;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: $isMobile) {
		background-color: #BF1822;
		border-color: #E1B562;
		min-width: 72vw;
		border-radius: 1.05rem;
	}

	&:hover {
		background-color: #BF1822;
	}

	&:active {
		box-shadow: 0.15rem 0.15rem 0.2rem 0px rgba(0, 0, 0, 0.51),
			0.4rem 0.3rem 0px 0px #57120C inset;
	}

	&_order {
		background-color: transparent;
	}

	&__gray {
		background: rgba(0, 0, 0, 0.39);
	}


}

@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/popup/popup';


// ** ------------------------------------------------  sections

.hero {
	position: relative;
	color: #fff;
	margin-top: 0;

	&__bg-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		&-1 {
			background: url('@img/hero/hero-bg-1.jpg') center 0 / cover no-repeat;

			@media (max-width: $isMobile) {
				background: url('@img/hero/hero-bg-1.jpg') center 0 / cover no-repeat;
			}
		}


		&-2 {
			background: url('@img/hero/hero-bg-1.jpg') center 0 / cover no-repeat;
		}

		&-3 {
			background: url('@img/hero/hero-bg-2.jpg') center 0 / cover no-repeat;
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.47);
		}
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__wrap {
		min-height: 58vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 22vw 0 10vw;


		@media (max-width: $isMobile) {
			min-height: 160vw;
			padding: 20vw 0;
			justify-content: flex-start;
		}

		&_home {
			padding-top: 23.75vw;
			padding-bottom: 10vw;
			display: block;
			text-align: left;
			padding-left: 5vw;

			@media (max-width: $isMobile) {
				display: flex;
				text-align: center;
				padding: 20vw 0;
			}

			& .hero__title {
				margin-bottom: 3.3rem;
			}
		}
	}

	&__logo {
		display: none;

		@media (max-width: $isMobile) {
			display: block;
			width: 69vw;
			margin-bottom: 12vw;
		}
	}

	&__label {
		font-size: 1.61rem;
		max-width: 38vw;
		font-family: var(--titleFont);
		margin-bottom: 2.11rem;

		@media (max-width: $isMobile) {
			max-width: none;
			margin-bottom: 1rem;
			font-size: 1rem;
		}
	}

	&__title {
		font-size: 2.8rem;
		line-height: 94%;
		font-weight: 700;
		font-style: italic;
		font-family: var(--titleFont);
		margin-bottom: 5vw;

		@media (max-width: $isMobile) {
			font-size: 1.6rem;
			margin-bottom: 1.55rem;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 47vw;
		line-height: 109%;

		@media (max-width: $isMobile) {
			max-width: none;
		}
	}

	&__button {
		display: inline-block;

		@media (max-width: $isMobile) {
			display: none;
		}
	}

	&__products {
		position: absolute;
		right: 0;
		bottom: -10vw;
		width: 67vw;
		z-index: 2;

		@media (max-width: $isMobile) {
			width: 100%;
			height: 88vw;
			position: absolute;
			bottom: -20vw;
			overflow: hidden;

			& img {
				height: 100%;
				width: auto;
				position: absolute;
				right: -20vw;
				top: 0;
			}
		}
	}
}

.benefits {
	padding: 16vw 0 15.5vw;

	@media (max-width: $isMobile) {
		padding: 23vw 0 17.6vw;
	}

	&__wrap {}

	&__title {
		margin-bottom: 3vw;
		font-size: 2.22rem;

		@media (max-width: $isMobile) {
			margin-left: -10px;
			margin-right: -10px;
			margin-bottom: 8vw;

			& b {
				font-size: 1.2rem;
			}

			& span {
				font-size: 1rem;
			}

		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
		gap: 4.2vw;

		margin-left: -2rem;
		margin-right: -1rem;

		@media (max-width: $isMobile) {
			flex-direction: column;
			align-items: center;
			gap: 6.4vw;
		}

		& li {
			flex: 1;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			line-height: 110%;

			@media (max-width: $isMobile) {
				flex: 1 1 auto;
				max-width: 56vw;
			}
		}

		& img {
			height: 7vw;
			width: auto;
			display: block;
			margin-bottom: 2rem;

			@media (max-width: $isMobile) {
				height: 30vw;
			}
		}

		& h3 {
			font-weight: 600;
			max-width: 11vw;
			margin-bottom: 0.9rem;
			font-size: 1.22rem;

			@media (max-width: $isMobile) {
				max-width: none;
				font-size: 0.9rem;
			}
		}

		& p {
			line-height: 1;
			font-size: 0.94rem;
		}
	}
}

.target {
	margin-bottom: 14.5vw;

	@media (max-width: $isMobile) {
		margin-bottom: 0;
	}

	&__wrap {}

	&__media {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0 3.55vw;
		position: relative;

		@media (max-width: $isMobile) {
			height: 330vw;
			margin-bottom: 21.3vw;

			& .target__img {
				right: 0;

				&:nth-child(even) {
					left: 0;
				}
			}
		}
	}

	&__img {
		flex: 0 0 21vw;
		height: 25vw;

		position: relative;
		background: center / cover no-repeat;
		border-radius: 0.9rem;
		overflow: hidden;

		@media (max-width: $isMobile) {
			position: absolute;
			flex: 1 1 auto;
		}

		&_1 {
			height: 32vw;
			z-index: 2;
			background-image: url('@img/target/picture-1.jpg');

			@media (max-width: $isMobile) {
				width: 63.2vw;
				height: 92vw;
				top: 0;
			}
		}

		&_2 {
			top: 4.2vw;
			z-index: 5;
			background-image: url('@img/target/picture-2.jpg');

			@media (max-width: $isMobile) {
				width: 56vw;
				height: 65vw;
				top: 62vw;
			}

		}

		&_3 {
			top: -3.2vw;
			background-image: url('@img/target/picture-3.jpg');
			z-index: 6;

			@media (max-width: $isMobile) {
				width: 63.2vw;
				height: 82vw;
				top: 152vw;
				background-image: url('@img/target/picture-4.jpg');
				z-index: 4;
			}
		}

		&_4 {
			height: 28vw;
			top: -12.5vw;
			background-image: url('@img/target/picture-4.jpg');
			z-index: 3;

			@media (max-width: $isMobile) {
				width: 56vw;
				height: 80vw;
				top: 213vw;
				background-image: url('@img/target/picture-5.jpg');
				z-index: 5;
			}
		}

		&_5 {
			height: 32vw;
			top: -6.6vw;
			background-image: url('@img/target/picture-5.jpg');
			z-index: 4;

			@media (max-width: $isMobile) {
				width: 50.6vw;
				height: 58vw;
				top: 272vw;
				background-image: url('@img/target/picture-3.jpg');
				z-index: 6;
			}
		}
	}

	&__vegetable {
		position: absolute;
		width: auto;


		&_1 {
			z-index: 11;
			width: 19vw;
			top: 40vw;
			left: 4vw;

			@media (max-width: $isMobile) {
				display: none;
			}
		}

		&_2 {
			z-index: 12;
			width: 11vw;
			top: 43vw;
			left: 22vw;

			@media (max-width: $isMobile) {
				width: 30vw;
				top: 160vw;
				left: -7vw;
			}
		}

		&_3 {
			z-index: 13;
			width: 17.5vw;
			right: 8vw;
			top: 53.5vw;

			@media (max-width: $isMobile) {
				width: 56vw;
				bottom: -8vw;
				top: auto;
				left: 7vw;
			}
		}

		&_4 {
			z-index: 14;
			display: none;

			@media (max-width: $isMobile) {
				display: block;
				width: 20vw;
				bottom: -35vw;
				right: -7vw;
			}
		}
	}

	&__title {
		text-align: left;
		margin-bottom: 1rem;

		@media (max-width: $isMobile) {
			margin-bottom: 0;

		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 45.2vw;

		& p {
			line-height: 110%;
		}

		@media (max-width: $isMobile) {
			max-width: none;

			& p {
				font-size: 0.96rem;
			}
		}
	}
}

.history {
	margin-bottom: 8.4vw;
	position: relative;

	@media (max-width: $isMobile) {
		margin-bottom: 27vw;
		overflow: hidden;
		padding-top: 26.6vw;
	}

	&__wrap {
		position: relative;
	}

	&__media {
		display: flex;
		margin-bottom: 16vw;

		@media (max-width: $isMobile) {
			position: relative;
			height: 139vw;

			margin-bottom: 28vw;

			& .history__img {
				left: 0;

				&:nth-child(even) {
					right: 0;
					left: auto;
				}
			}
		}
	}

	&__img {
		flex: 0 0 25vw;
		height: 25vw;

		position: relative;
		background: center / cover no-repeat;
		border-radius: 0.9rem;
		overflow: hidden;

		@media (max-width: $isMobile) {
			position: absolute;
		}

		&_1 {
			height: 19.5vw;
			z-index: 4;
			background-image: url('@img/history/picture-1.jpg');


			@media (max-width: $isMobile) {
				width: 56vw;
				height: 42.6vw;
				top: 0;
				z-index: 2;
			}

		}

		&_2 {
			flex: 0 0 30.5vw;
			left: -3.5vw;
			top: 4.2vw;
			z-index: 3;
			background-image: url('@img/history/picture-2.jpg');

			@media (max-width: $isMobile) {
				width: 66.6vw;
				height: 53.4vw;
				top: 32vw;
			}
		}

		&_3 {
			z-index: 2;
			flex: 0 0 21.6vw;
			left: -7vw;
			background-image: url('@img/history/picture-3.jpg');


			@media (max-width: $isMobile) {
				width: 53.4vw;
				height: 61vw;
				top: 78vw;
				z-index: 4;
			}
		}
	}

	&__vegetable {
		position: absolute;
		width: auto;

		&_1 {
			width: 18vw;
			top: -11vw;
			right: 0;
			z-index: 11;

			@media (max-width: $isMobile) {
				width: 43vw;
				top: -12vw;
				right: 6vw;
			}
		}

		&_2 {
			width: 15vw;
			right: 6vw;
			top: 34vw;
			z-index: 12;

			@media (max-width: $isMobile) {
				width: 52vw;
				top: 212vw;
				right: -26vw;
				rotate: (-30deg);
			}
		}

		&_3 {
			width: 15vw;
			right: -1.8vw;
			top: 46vw;
			z-index: 13;

			@media (max-width: $isMobile) {
				width: 49vw;
				top: 120vw;
				right: -23vw;
			}
		}

		&_4 {
			width: 18.5vw;
			right: -5.5vw;
			top: 60vw;
			z-index: 14;

			@media (max-width: $isMobile) {
				display: none;
			}
		}
	}

	&__title {
		text-align: left;
		margin-bottom: 1rem;

		@media (max-width: $isMobile) {
			margin-bottom: 0;

			& span {
				font-size: 1.33rem;
			}

		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 45.2vw;

		& p {
			line-height: 110%;
		}

		@media (max-width: $isMobile) {
			max-width: none;

			& p {
				max-width: 73vw;
				font-size: 0.95rem;
			}
		}
	}
}

.team {
	position: relative;

	&__img {
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: url('@img/backgrounds/team-bg.png') center 0 / cover no-repeat;

		@media (max-width: $isMobile) {
			background: #F6E6D7 url('@img/backgrounds/team-bg-mobile.png') center 100% / contain no-repeat;
		}

		// & img {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	object-fit: cover;
		// }
	}

	&__wrap {
		min-height: 48.61vw;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;

		@media (max-width: $isMobile) {
			min-height: 121vw;
		}
	}


	&__text {
		padding-top: 5vw;
		width: 34.167vw;

		@media (max-width: $isMobile) {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			font-family: var(--titleFont);
			padding-top: 8.533vw;
			width: auto;
			padding-bottom: 40vw;
		}
	}

	&__logo {
		transform: translateY(50%);
		width: 19.653vw;
		position: relative;
		z-index: 2;

		@media (max-width: $isMobile) {
			width: 56vw;
		}
	}
}

.stores {
	padding: 8.7vw 0 11.6vw;

	@media (max-width: $isMobile) {
		padding: 16vw 0 21vw;
	}

	&__title {
		margin-bottom: 4.2vw;

		@media (max-width: $isMobile) {
			margin-bottom: 5.33vw;

			& span {
				font-size: 1.55rem;
			}
		}
	}

	&__slider {
		overflow: hidden;
	}

	& .swiper-wrapper {
		transition-timing-function: linear;
	}

	&__item {
		margin: 0 2vw;

		@media (max-width: $isMobile) {
			margin: 0 4.8vw;
		}

		&.swiper-slide {
			width: auto;
		}

		& img {
			height: 8.47vw;
			width: auto;

			@media (max-width: $isMobile) {
				height: 20vw;
			}
		}
	}
}

.label-block {
	background: url('@img/backgrounds/label-block-bg.jpg') center 0 / cover no-repeat;
	min-height: 31vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	padding: 8vw 0;
	position: relative;

	@media (max-width: $isMobile) {
		padding: 12vw 0;
		min-height: auto;
	}

	& h2 {
		font-size: 3.33vw;
		font-family: 'FrizQuadrataCTT';
		font-weight: 700;
		font-style: italic;

		@media (max-width: $isMobile) {
			font-size: 1.6rem;
		}
	}

	&_for-popup {
		& h2 {
			font-size: 2.8vw;
			margin-bottom: 4vw;

			@media (max-width: $isMobile) {
				margin-bottom: 10vw;
			}
		}
	}

	&__wrap {
		max-width: 55vw;

		@media (max-width: $isMobile) {
			max-width: none;
		}
	}

	&__btn {
		margin: 0 auto;
	}

	&__vegetable-1 {
		display: none;

		@media (max-width: $isMobile) {
			display: block;
			position: absolute;
			width: 58vw;
			top: -30vw;
			left: -16vw;
			z-index: 11;
		}
	}
}

.products {
	padding-top: 8.3vw;

	@media (max-width: $isMobile) {
		padding: 23vw 0 0;
	}

	&__wrap {}

	&__title {
		display: block;
		margin-bottom: 4.1vw;
	}

	&__text {
		text-align: center;
		margin-bottom: 3.3vw;
		line-height: 109%;

		padding: 0 4vw;

		@media (max-width: $isMobile) {
			margin-bottom: 16vw;
		}
	}

	&__button {
		min-width: 24vw;
	}

	&__slider {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	&__slider-nav {
		display: flex;
		justify-content: center;
		gap: 4.44vw;


	}

	&__slider-btn {
		border-radius: 1.27rem;
		border: 0.11px solid #FFF;
		flex: 0 0 3.33rem;
		height: 3.33rem;
		transition: all 0.3s ease 0s;

		@media (max-width: $isMobile) {
			position: absolute;
			height: 74vw;
			width: 20vw;
			bottom: 30vw;
			z-index: 5;
			opacity: 0;
		}

		&:hover {
			background-color: #BF1822;
		}

		&:active {
			box-shadow: 0.15rem 0.15rem 0.2rem 0px rgba(0, 0, 0, 0.51),
				0.4rem 0.3rem 0px 0px #57120C inset;
		}
	}

	&__slider-btn-prev {
		background: rgba(0, 0, 0, 0.39) url('@icons/arrow-left.svg') center / auto 1.2rem no-repeat;

		@media (max-width: $isMobile) {
			left: 0;

		}
	}

	&__slider-btn-next {
		background: rgba(0, 0, 0, 0.39) url('@icons/arrow-right.svg') center / auto 1.2rem no-repeat;

		@media (max-width: $isMobile) {
			right: 0;
		}
	}

	& .swiper-wrapper {
		align-items: center;
		min-height: 43vw;

		@media (max-width: $isMobile) {
			min-height: 129vw;
			position: relative;
			top: -5vw;
		}
	}

	&__item {
		display: flex !important;
		flex-direction: column;
		align-items: center;
		position: relative;
		left: -2.5vw;

		&.products__item_v2 {
			& span {
				background: url('@img/products/shadow-2.png') 45% calc(90% - 0.4rem) / 80% no-repeat;
			}

			& img {
				scale: 0.8;
			}
		}

		@media (max-width: $isMobile) {
			left: 0;
			opacity: 0.59;
			filter: blur(3.32px);
		}

		&.swiper-slide-active {
			left: 0;

			@media (max-width: $isMobile) {
				opacity: 1;
				filter: blur(0px);
			}

			& span {
				background: none;
			}

			& img {
				height: 29vw;
				height: 30vw;

				@media (max-width: $isMobile) {
					height: 92vw;
				}
			}

			& h3 {
				font-weight: 700;
				text-transform: uppercase;
			}

			&~.swiper-slide {
				left: 2.5vw;

				@media (max-width: $isMobile) {
					left: 0;
				}
			}
		}

		& span {
			display: block;
			background: url('@img/products/shadow-1.png') 0 calc(100% - 0.5rem) / contain no-repeat;
			top: -0.5rem;
			z-index: -1;

			@media (max-width: 768px) {
				background-position: 0 calc(100% - 0.3rem);
			}

		}

		& img {
			transition: all 0.3s ease 0s;
			width: auto;
			height: 23vw;

			@media (max-width: $isMobile) {
				height: 73.6vw;
			}
		}

		& h3 {
			text-align: center;
			font-size: 1.11rem;
			line-height: 105%;

			@media (max-width: $isMobile) {
				font-size: 0.92rem;
			}
		}
	}
}

.partnership {
	padding-top: 8.3vw;
	padding-bottom: 13vw;
	overflow: hidden;

	@media (max-width: $isMobile) {
		padding: 0 0 16vw;
	}

	&__wrap {}

	&__title {
		margin-bottom: 7vw;

		@media (max-width: $isMobile) {
			margin-bottom: 11.2vw;
			font-size: 1.16rem;
		}
	}

	&__rows {
		display: flex;
		flex-direction: column;
		gap: 8.3vw;

		@media (max-width: $isMobile) {
			gap: 14.5vw;
		}
	}

	&__row {
		display: flex;
		gap: 10vw;
		align-items: flex-end;
		position: relative;

		@media (max-width: $isMobile) {
			flex-direction: column;
			align-items: flex-start;
			gap: 0;
		}

		&_1 {
			& .partnership__media {
				background: url('@img/partnership/picture-1.jpg') center 0 / cover no-repeat;

				@media (max-width: $isMobile) {
					margin-bottom: 22vw;
				}
			}

			& .partnership__media-obj {
				width: 135%;
				bottom: -8.6vw;
				left: -1.5vw;

				@media (max-width: $isMobile) {
					bottom: -19.5vw;
				}
			}

		}

		&_2 {
			flex-direction: row-reverse;
			align-items: center;
			margin-top: 2.8rem;

			@media (max-width: $isMobile) {
				margin-top: 0;

			}

			& .partnership__media {
				background: url('@img/partnership/picture-2.jpg') center 0 / cover no-repeat;

				@media (max-width: $isMobile) {
					align-self: end;
					margin-bottom: 18.4vw;
				}
			}

			& .partnership__media-obj {
				width: 92%;
				bottom: -5.7vw;
				right: 0;

				@media (max-width: $isMobile) {
					bottom: -12.8vw;
				}
			}
		}

		&_3 {
			& .partnership__media {
				background: url('@img/partnership/picture-3.jpg') center 0 / cover no-repeat;

				@media (max-width: $isMobile) {
					margin-bottom: 11vw;

				}
			}

			& .partnership__media-obj {
				width: 139%;
				bottom: -7.3vw;
				left: 4.8vw;

				@media (max-width: $isMobile) {
					bottom: -11.5vw;
					left: 10vw;
				}
			}

			& .partnership__text {
				max-width: 25vw;

				@media (max-width: $isMobile) {
					max-width: none;

				}
			}
		}
	}

	&__media {
		flex: 0 0 32vw;
		height: 24vw;
		border-radius: 0.9rem;
		border: 0.17rem solid #E0B460;
		position: relative;

		@media (max-width: $isMobile) {
			width: 73vw;
			flex: 0 0 55.2vw;
		}

		&-obj {
			position: absolute;

			@media (max-width: $isMobile) {
				// display: none;
			}
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 1.1rem;
		padding-bottom: 1.5rem;
		max-width: 28vw;

		@media (max-width: $isMobile) {
			max-width: none;
			padding-bottom: 0;
		}

		& h3 {
			font-size: 2.22rem;
			text-transform: uppercase;
			font-family: var(--titleFont);
			margin-bottom: 0.8rem;

			@media (max-width: $isMobile) {
				font-size: 1.6rem;
			}
		}

		& p {
			line-height: 110%;

			@media (max-width: $isMobile) {
				max-width: 74vw;
			}
		}
	}

	&__piece {
		position: absolute;
		display: none;
		right: -7vw;

		@media (max-width: $isMobile) {
			display: block;
		}

		&-1 {
			width: 20.5vw;
			bottom: 10vw;
		}

		&-3 {
			width: 30vw;
			bottom: -15vw;
		}
	}
}

.catalog {
	padding-top: 4.6vw;

	@media (max-width: $isMobile) {
		padding-top: 8vw;
	}

	& .menu-catalog {
		padding-bottom: 5.5rem;

		@media (max-width: $isMobile) {
			display: none;
		}
	}

	& .container {
		@media (max-width: $isMobile) {
			padding: 0;
		}
	}

	&__wrap {}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 3.2vw 0;
		max-width: 64vw;
		margin: 0 auto;

		@media (max-width: $isMobile) {
			gap: 8vw 0;
			max-width: none;

			& .catalog__item {
				&:nth-child(odd) {
					margin-right: -0.5rem;
				}

				&:nth-child(even) {
					margin-left: -0.5rem;
				}
			}
		}

		&_limit {
			& .catalog__item:nth-child(n + 7) {
				display: none;
			}
		}
	}

	&__item {
		flex: 0 0 33.33%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.6rem;
		transition: all 0.4s ease 0s;
		will-change: scale;
		position: relative;
		cursor: pointer;

		@media (max-width: $isMobile) {
			flex: 0 0 calc(50% + 0.5rem);
			gap: 0.3rem;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: -0.5rem;
			width: 100%;
			aspect-ratio: 1;
			background: url('@img/products/shadow-1.png') 0 100% / contain no-repeat;
			z-index: -1;

			@media (max-width: 768px) {
				top: -0.3rem;
			}
		}

		&_v2 {
			&::before {
				top: -0.3rem;
				background: url('@img/products/shadow-2.png') 0 100% / contain no-repeat;

				@media (max-width: 768px) {
					top: -0.2rem;
				}
			}
		}

		&:hover {
			@media (min-width: 768px) {
				scale: 1.06;
			}
		}

		& img {
			aspect-ratio: 1;
			object-fit: contain;
		}

		& h3 {
			line-height: 105%;
			font-size: 1.22rem;
			font-size: 1.22rem;

			@media (max-width: $isMobile) {
				font-size: 0.77rem;
			}

		}

		& p {
			font-size: 1rem;
			line-height: 104%;
		}
	}

	&__button {
		margin: 5.2vw auto 0;
	}
}

.menu-catalog {
	display: flex;
	align-items: center;
	gap: 0.95rem;
	justify-content: center;

	@media (max-width: $isMobile) {
		flex-wrap: wrap;
		gap: 1rem 0.5rem;
		padding: 0 8vw 13.3vw;
	}

	&__item {
		background: rgba(0, 0, 0, 0.39);
		flex: 0 0 6vw;
		height: 6vw;
		border: 0.11rem solid #FFF;
		border-radius: 1.28rem; //23px
		overflow: hidden;
		position: relative;
		transition: all 0.3s ease 0s;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 1rem;

		@media (max-width: $isMobile) {
			background: rgba(0, 0, 0, 0.67);
			flex: 0 0 calc(50% - 0.25rem);
			height: 12.8vw;
			border-radius: 0.66rem;
		}

		& img {
			position: absolute;
			left: -0.1rem;
			bottom: 0;
			height: 100%;
			width: auto;
		}

		& h3 {
			opacity: 0;
			color: #fff;
			text-align: center;
			font-weight: 700;
			line-height: 108%;
			min-width: 8.5vw;
			transition: all 0.3s ease 0s;
			position: relative;
			z-index: 2;
			min-width: 8vw;

			@media (max-width: $isMobile) {
				opacity: 1;
				font-size: 0.6rem;
				min-width: 16.5vw;
			}
		}

		@media (min-width: 769px) {
			&:hover {
				background: rgba(0, 0, 0, 0.67);
				flex: 0 0 16.5vw;

				& h3 {
					opacity: 1;
				}
			}
		}
	}
}

.breadcrumbs {
	font-size: 0.72rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem 0;
	line-height: 110%;
	font-weight: 600;

	@media (max-width: $isMobile) {
		font-size: 0.55rem;
	}

	& a {
		opacity: 0.4;
		display: inline-block;
		display: flex;
		align-items: center;

		&::after {
			content: '';
			display: inline-block;
			left: 0;
			top: 0;
			width: 0.04rem;
			margin: 0 1rem;
			height: 1.23em;
			background-color: #000;
			position: relative;
			top: -0.1rem;

			@media (max-width: $isMobile) {
				margin: 0 0.4rem;
				height: 0.6rem;
				top: 0.02rem;
			}

		}
	}

	& span {}
}

.product {
	display: flex;
	align-items: center;
	overflow: hidden;
	line-height: 110%;

	@media (max-width: $isMobile) {
		flex-direction: column;
		overflow: visible;
		// align-items: flex-start;
	}

	&__photo {
		width: 34vw;
		// left: -4.8vw;
		left: -4vw;
		position: relative;

		@media (max-width: $isMobile) {
			flex: 1 1 auto;
			width: 76vw;
			left: auto;
			margin-top: -13vw;
			margin-bottom: 1.8rem;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('@img/products/shadow-1.png') 0 97% / contain no-repeat;
			transform: scale(1.2) translateY(-2.2rem);

			@media (max-width: $isMobile) {
				transform: none;
			}
		}

		& img {
			transform: scale(1.2) translateY(-2.2rem);

			@media (max-width: $isMobile) {
				transform: none;
				position: relative;
				z-index: 2;
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		@media (max-width: $isMobile) {
			align-self: start;
			align-items: flex-start;
			width: 100%;
			gap: 1.4rem;
		}

		& b {
			font-weight: 700;
		}
	}

	&__name {
		display: flex;
		flex-direction: column;
		margin-bottom: -0.55rem;
		font-size: 1.4rem;
		line-height: 110%;
		text-transform: uppercase;

		@media (max-width: $isMobile) {
			font-size: 1rem;
			text-align: center;
			margin-bottom: 0.44rem;
			flex: 0 0 100%;
			align-self: center;
		}


		& b {
			font-weight: 700;
		}
	}

	&__ingredients {
		font-size: 0.9rem;
		font-style: italic;
		font-weight: 600;

		@media (max-width: $isMobile) {
			font-size: 0.64rem;
		}

		& b {
			font-style: italic;
		}
	}

	&__energy-value {
		display: flex;
		justify-content: flex-start;
		gap: 1.44rem;

		@media (max-width: $isMobile) {
			gap: 1rem;
		}
	}

	&__energy-value-label {
		font-size: 0.9rem;
		font-style: italic;
		font-weight: 600;
		max-width: 13vw;

		@media (max-width: $isMobile) {
			line-height: 110%;
			font-size: 0.64rem;
			max-width: 34vw;
		}
	}

	&__energy-value-kcal {
		font-size: 1.11rem;
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		line-height: 110%;
		font-weight: 700;

		@media (max-width: $isMobile) {
			font-size: 0.77rem;
			gap: 0;
		}
	}

	&__macronutrients {
		display: flex;

		@media (max-width: $isMobile) {
			// flex-direction: column;
		}

		& li {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.4rem;
			position: relative;

			@media (max-width: $isMobile) {
				gap: 0rem;
			}

			&:not(:last-child) {
				margin-right: 2rem;

				@media (max-width: $isMobile) {
					margin-right: 1rem;
				}

				&::after {
					content: '';
					position: absolute;
					width: 0.05rem;
					height: 100%;
					right: -1rem;
					top: 0;
					background-color: rgba(0, 0, 0, 0.39);

					@media (max-width: $isMobile) {
						right: -0.5rem;
					}
				}
			}
		}


		& span {
			white-space: nowrap;
			font-size: 0.9rem;
			font-style: italic;

			@media (max-width: $isMobile) {
				font-size: 0.61rem;
			}
		}

		& b {
			white-space: nowrap;
			font-size: 1.11rem;

			@media (max-width: $isMobile) {
				font-size: 0.77rem;
			}
		}
	}

	&__weight {
		margin-top: 0.7rem;
		border-radius: 1.28rem;
		font-size: 1.06rem;
		line-height: 93%;
		color: #fff;
		text-transform: uppercase;
		font-family: 'Open Sans';
		padding: 1.3rem 1.95rem;
		border: 0.11rem solid #FFF;
		background: rgba(0, 0, 0, 0.39);
		align-self: start;

		@media (max-width: $isMobile) {
			align-self: center;
			padding: 0.8rem 1.36rem;
			border-radius: 0.9rem;
			font-size: 0.73rem;
		}
	}
}